<div class="container">
  <div class ="row">
    <div class="col">
      <h2>商品新規登録</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
      <%= form_with model: @item, url:admin_items_path do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <th><%= f.label :item_image, "商品画像" %></th>
            <th><%= f.file_field :item_image, accept: "image/*" %></th>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th><%= f.label :name, "商品名" %></th>
            <td><%= f.text_field :name, placeholder:"商品名" %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th><%= f.label :explanation, "商品説明" %></th>
            <td><%= f.text_area :explanation, placeholder:"説明文", size: "50x4" %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th><%= f.label :genre_id, "ジャンル" %></th>
            <td><%= f.select :genre_id, Genre.all.map{|genre| [genre.name,genre.id]} %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th><%= f.label :excluding_tax_price, "税抜価格" %></th>
            <td><%= f.text_field :excluding_tax_price, placeholder:"1000" %>円</td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th><%= f.label :is_on_sale, "販売ステータス" %></th>
              <td><%= f.radio_button :is_on_sale, :true, checked: true %>
                  <label for="item_on_sale">販売中</label>
                  <%= f.radio_button :is_on_sale, :flase %>
                  <label for="item_sales_stop">販売停止中</label>
              </td>
          </div>
        </tr>
      </table>
        <div class="col-sm-2 mx-auto text-center">
          <div><%= f.submit "新規登録", class:"btn btn-success" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
