<div class="container mt-5">
  <div class="row">
    <div class="col offset-2">
      <table class="ml-3">
        <thaed>
        <tr>
          <td class="table-active ">注文履歴詳細</td>
        </tr>
        </thaed>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <thaed>

          <tr>
            <th>購入者</th>
            <td><%= link_to @order.name, admin_customers_path %></td>
          </tr>

          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>

          <tr>
            <th>配送先</th>
            <td><%= simple_format(@order.postal_code_and_address_and_name) %></td>
          </tr>

          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>

          <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
          <tr>
            <th>注文ステータス</th>
            <td class="d-flex align-items-center"><%= f.select :status, (0..4).to_a.map{ |q| ["#{ I18n.t("enums.order.status.#{Order.statuses.key(q)}")}",Order.statuses.key(q)] }, { selected: @order.status } %><%= f.submit "更新", class:"btn btn-success ml-3" %></td>
          </tr>
          <% end %>
        </thaed>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-8 d-flex align-items-end">
      <table class="table table-bordered">
        <thaed>
          <tr class="table-active">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thaed>
        <body>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= number_to_currency(order_detail.including_tax_price) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal %></td>
            <%= form_with model: order_detail, url: admin_order_order_detail_path(order_detail) do |f| %>
              <td class="d-flex align-item-center"><%= f.select :production_status, (0..3).to_a.map{ |q| ["#{ I18n.t("enums.order_detail.production_status.#{OrderDetail.production_statuses.key(q)}")}",OrderDetail.production_statuses.key(q)] }, { selected: order_detail.production_status } %><%= f.submit "更新", class:"btn btn-success ml-3" %></td>
            <% end %>
          </tr>
          <% end %>
        </body>
      </table>
    </div>
    <div class="col-4 d-flex align-items-end">
      <table class="table table-bordered">
        <thaed>
          <tr>
            <th>商品合計</th>
            <td><%= number_to_currency(@order.billing_price, unit:'円') %></td>
          </tr>

          <tr>
            <th>送料</th>
            <td><%= number_to_currency(@order.postage, unit:'円') %></td>
          </tr>

          <tr>
            <th>請求金額合計</th>
            <th><%= number_to_currency(@order.billing_price_sum, unit:"円") %></th>
          </tr>
        </thaed>
      </table>
    </div>
  </div>
</div>

